* {
   margin: 0;
   padding:0;
   box-sizing: border-box;
}
body{
   font-family: 'Poppins', sans-serif;
   background-color: #FFFFFF;

}
/* header start */
.container{
   display: flex;
   justify-content: center;
   align-items: center;
}
.header-texts{
   font-size: 52px;
   text-align: center;
   color:#E02C6D
   
   
   
}

.section{
   display: flex;

   justify-content: space-between;
   align-items: center;
   margin-top: 50px;

   
}
.heading-text{
   width: 582px;
   margin-right: 10px;
   
}
.head-text{
   font-size: 40px;
}
.color{
   color:#E02C6D ;
}
.photo img{
   width: 440px;
   margin-left: 40px;
   transition: 1.6s ease-in-out;
   
}
.photo img:hover{
   transform: scale(0.5) rotate(180deg);
}



.button{
   padding: 10px;
   background-color: #E02C6D;
   border-radius: 10px;
   margin-top: 10px;
   color: #ffffff;

   
   
 
  
}

/* second-part */
.section-title{
   font-size: 34px;
   text-align: center;
   margin-top: 20px;
}

 
  .collection{
     display: flex;
     justify-content: center;
     align-items: center;
  } 

.containers{
   width: 1140px;
   margin-top: 5%;
   
}
.populars{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-row-gap: 15px;
   
   
}
.popular{
   width: 330px;
   height: 460px;
   border-radius: 10px;
   background-color:white;
   padding-left: 20px;
   margin-right: 10px;
   
   
}
.popular .popular-banner img{
   width: 300px;
   height: 256px;
}
.popular-title{
   font-size: 24px;
}
.popular-info{
   display: flex;
   
}
.fa-star{
   font-size: 10px;
}
.fa-star.filled{
   color: #FB8200;
}
.fa-star.empty{
   color: #AEAEAE;
}
.anchor a{
   margin-left: 75%;
   text-decoration: none;
   color:#E02C6D;
   
}
.fa-long-arrow-alt-right{
   margin-left: 5px;
}
/* third-part */


.heading-part{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-items: center;
   
   
 
}
.container img{
   width:400px;
   height: 300px;
   

}

.hidding{
   width: 350px;
}
.size{
   font-size: 25px;
   color:#0A0826;
}

/* -----------------------------
------------last part---------------- */
.last-part{
   background-color:#0A0826; 
   text-align: center;
   color: white;
   margin: 10px;
   padding: 20px;
}
.fa-youtube, .fa-instagram, .fa-twitter-square{
   color: #ffffff;
   padding: 5px;
}
/* -------------------
media quearys --------------*/

/* mobile devices-----
---------------------- */
@media only screen and (max-width:688px){
   .container{
      display: flex;
      flex-direction: column;
      
   }
   .section{
      width: 100%;
      flex-wrap: wrap;
      justify-content: flex-end;
   }
.populars {
   display: grid;
   grid-template-columns: 1fr;

   }
   .heading-part{
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
   
   
   }
   .heading{
      width: 300px;
   }
   .container img{
      width: 300px;
      height: 300px;
   }
   
}
/*-----------
---- tablet devices --*/
@media only screen and (min-width:688px) and (max-width:950px) {
   .section{
      flex-direction: column;

   }
   
   .populars{
         display: grid;
         grid-template-columns: 1fr 1fr;

      }
   

   
}


